$primary: #284567;
$secondary: #EEFC57;
$light: #AEECEF;
$dark: #284567;
$success: #CCFF66;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import "~vue-wysiwyg/dist/vueWysiwyg.css";
